OWNER_NAME="NR King"
PREFIX="."
PUBLIC_MODE='on'
AUTO_READ_STATUS="on"
AUTO_DOWNLOAD_STATUS="oui"
BOT_NAME= "FLASH-MD"
IMAGE_MENU= "https://telegra.ph/file/82186a2f0d2a8e4338e18-c23b0c1906a58fe223.jpg"
NUMERO_OWNER= "94762699712"
OWNER_NAME= "᚛NR King᚜"
DATABASE_URL= ""
WARN_COUNT= ""
OPENAI_API_KEY= ""
STARTING_BOT_MESSAGE='yes'
ANTI_DELETE_MESSAGE='yes'
